body {
    margin: 40px;
  }

#body8 {
    margin-top: 0px;
}

#eightbyeight, #fourbyfour {
    position: absolute;
    left: 95vw;
    top: 0px;
}

a {
    text-decoration-color: white;
    color: white;
}
  
  .wrapper {
    display: grid;
    grid-template-rows: min(15vw, 15vh) min(15vw, 15vh) min(15vw, 15vh) min(15vw, 15vh);
    grid-template-columns: min(15vw, 15vh) min(15vw, 15vh) min(15vw, 15vh) min(15vw, 15vh);
    grid-gap: 4px;
    background-color: #fff;
    justify-content: center;
}

.wrapper8 {
    display: grid;
    grid-template-rows: min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh);
    grid-template-columns: min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh);
    grid-gap: 4px;
    background-color: #fff;
    justify-content: center;
}

  
  .box {
    background-color: blue;
    color: blue;
    border-radius: 5px;
    font-size: 0%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rand, #read {
      margin: 15px;
      padding: 10px;
      font-size: large;
  }

  .center {
      display: flex;
      justify-content: center;
  }